  
  #portafolio{
    min-width: 80%;
    height: auto;
    width: 100vw;
  

  }
  .hero-section{
    align-items: center;
    padding:0 ;
    display: flex;
    justify-content: center;
   margin: 0;
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   align-items: center;
   justify-content: center;
    width: 100%;
    
    height: auto;
  }
  .card{
    margin: 2rem;
  }
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(1, 1fr); 
      padding-bottom: 10rem;}
      .card__category{
        font-size: .7;
        width: 100%;
      }
    }
  
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(3, 1fr);
      margin-top: 5rem; 
      padding: 4rem;
      margin-top: 4rem;
    }

    .hero-section{
      padding: 0;
      margin: 0;
      width: 100%;
    }
    .card__category{
      font-size: .7;
      width: 100%;
    }
  }
  
  .card{
    list-style: none;
    position: relative;
    margin-top: 5rem;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
  
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{

    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 2rem;
  }
  
  .card__category{
    color: gold;
    background-color: rgba(0, 0, 1, 0.847);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    font-family: 'Economica', sans-serif;
    font-weight: 100;
  }
  
  .card__heading{
    color:white;
    text-shadow:  1px 1px 12px gold;
    font-size: 2.3rem;
    line-height: 1.4;
    word-spacing: 100vw;
    font-family: 'Economica', sans-serif;
    font-weight: 900;
  }

  .encabezado__proyectos{
    font-family: 'Economica', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin: 6rem 0 3rem 0;
    background-color: var(--oscuro-intermedio);
    color: white;
    width: 30%;
    display: block;
    margin: auto;
    border-radius: 5px;
    padding: 1rem;
    border: solid 2px var(--oscuro-suave);
  }


  .tecnologias_proyectos{
    z-index: 999;
    width: 100%;
    height: auto;
    display: flex;
  }

  .tecnologia_item_proyecto svg{
  height: 3rem;
  width: auto;
  margin: 0 .3rem 3rem .3rem;
  filter:drop-shadow(1px 1px 3px rgb(0, 0, 0))
  }



  @media screen and (max-width: 768px) {
    .tecnologias_proyectos{
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .card__heading{

      margin: 1rem;
    }

    .card__content{
      margin: 0;
      padding: 0;
      width: 100%;
    }
    }


